<div id="grid">
  <div class="grid-sizer"></div>

  {{#each categories}}
  <a href="/categories/{{slug}}" class="grid-item my-1">
    <div class="p-2 shadow-md rounded-md bg-base-200 bg-gray-100 dark:bg-gray-700">
      <h2 class="text-xl">{{title}}</h2>
      <span class="text-sm mb-1 text-gray-400">{{description}}</span>

      {{!-- {{#if movies.length}}
      <div class="grid grid-cols-2 gap-2">
        {{#each movies}}
        <div class="p-2 shadow-md rounded-md bg-base-200 my-2 ">
          <h2 class="text-xl">{{title}}</h2>
          <span class="text-sm mb-1 text-gray-400">{{description}}</span>
        </div>
        {{/each}}
      </div>
      {{/if}} --}}
    </div>
  </a>
  {{/each}}
</div>

<style>
  #grid {
    margin: 0 auto;
  }

  .grid-item {
    float: left;
  }

  .grid-sizer,
  .grid-item {
    width: 23%;
  }

  /* clearfix */
  .grid:after {
    content: '';
    display: block;
    clear: both;
  }


  /* grid-sizer to 100% on small screen */
  @media (max-width: 768px) {

    .grid-sizer,
    .grid-item {
      width: 100%;
    }
  }
</style>

<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>

<script>
  $("#grid").masonry({
    itemSelector: ".grid-item",
    columnWidth: ".grid-sizer",
    percentPosition: true,
    gutter: 10,
  });
</script>