<div class="p-2 shadow-lg">

  <h2 class="text-2xl font-bold mb-2">
    {{category.title}}
  </h2>

  <div class="grid grid-cols-2 md:grid-cols-3 gap-2">
    {{#each category.movies}}
    <div class="h-48">
      {{>card image=image title=title englishTitle=englishTitle slug=slug}}
    </div>
    {{/each}}
  </div>

  {{!-- Pagination --}}
  {{#if pagination}}
  <div class="flex justify-center mt-4">
    <ul class="pagination divide-x">
      {{#each pagination}}
      <a class="page-link" {{#ifEquals @root/currentIndex @index}} {{else}} href="{{url}}"
        data-tooltip="Đến trang {{inc @index}}" {{/ifEquals}}>
        <li
          class="page-item bg-rose-400 dark:bg-gray-500 p-2 text-white px-4 hover:bg-gray-700 dark:hover:bg-rose-600 {{#ifEquals @root/currentIndex @index}}disabled bg-rose-600 dark:bg-gray-800{{/ifEquals}}">
          {{number}}
        </li>
      </a>
      {{/each}}
    </ul>
  </div>
  {{/if}}
</div>

<style>
  .pagination {
    display: flex;
    justify-content: center;
  }

  .pagination li {
    list-style: none;
  }

  .page-item.disabled {
    pointer-events: none;
    cursor: default;
  }
</style>