{{#if success}}
<div class="p-2 rounded bg-green-200 dark:bg-lime-300">
  <p>{{success}}</p>
</div>
{{/if}}

{{#if movie}}
<div x-data='{
    movie: {{json movie}},
    chooseSeason: 0,

    get getLastEpisodeTitle() {
      // if there is no season, or season no episode 
      if (this.movie.seasons.length === 0 || this.movie.seasons[this.chooseSeason].episodes.length === 0) {
        return "Đang cập nhật";
      }

      return this.movie.seasons[this.chooseSeason].episodes.slice(-1)[0].title;
    }
  }'>


  <div class="p-2 shadow-md rounded-md bg-base-200 my-2">
    <h2 class=" text-xl font-bold mb-1">{{movie.title}}</h2>
    <div class="grid grid-cols-1 md:grid-cols-5">
      <div class="col-span-1 overflow-hidden">
        <img src="{{movie.image}}"
          class="w-full object-contain transform hover:scale-110 transition-transform duration-400" alt="" />
      </div>
      <div class="col-span-4 p-2 flex flex-col relative">
        {{!-- {{#ifEquals user.role "admin"}}
        <div id="filmAdmin">
          <span onclick="editFilmClickHandler()"
            class="p-2 bg-fuchsia-600 hover:bg-opacity-80 transition cursor-pointer text-white absolute rounded-lg right-0 top-0">
            Chỉnh sửa
          </span>
        </div>

        {{/ifEquals}} --}}
        <div class="flex flex-col divide-y divide-base-300" {{#ifEquals user.role "admin" }} id="filmEditForm"
          {{/ifEquals}}>
          <p class="p-2 text-base-content text-lg">{{movie.title}} - {{movie.englishTitle}}</p>
          <div class="p-2 text-base-content">Mới cập nhật:
            <a class="halim-episode" href="/movies/{{movie.slug}}"><span
                class="bg-pink-200 dark:bg-pink-300 p-2 text-black shadow-sm font-bold rounded hover:bg-success transition duration-300"
                x-text="getLastEpisodeTitle">

              </span></a>

          </div>
          <div class="p-2 text-base-content">
            Tình trạng:
            <span class="font-bold">
              {{#switch movie.status}}
              {{#case "in-progress"}}
              Trong tiến độ
              {{/case}}
              {{#case "completed"}}
              Hoàn thành
              {{/case}}
              {{#case "dropped"}}
              Dropped
              {{/case}}
              {{/switch}}
            </span>
          </div>
          <div class="p-2 text-base-content">
            <span class="title-year">Năm:
              <a href="/release/{{releaseYear}}/" rel="tag" class="font-bold">{{movie.releaseYear}}</a></span>
          </div>
          <div class="p-2 text-base-content">Thể loại:
            {{#each movie.categories}}

            <a href="/categories/{{slug}}/" rel="tag"
              class="inline-block p-1 bg-rose-400 text-white rounded hover:bg-success transition duration-300 font-bold"
              title="{{description}}">{{title}}</a>

            {{/each}}
          </div>
          <div class="p-2">Quốc gia: <a href="/country/my" title="Mỹ" class="font-bold">Mỹ</a></div>

          {{!-- Overview --}}
          <div class="p-2">
            <i class="fas fa-star">
            </i>
            {{#with movie.rating}}
            {{movie.rating}}<i> / </i>5
            {{else}}
            Chưa có đánh giá
            {{/with}}
          </div>
          <div class="p-2">
            <i class="fas fa-comment">
            </i>
            {{!-- count --}}
            {{#with movie.comments}}
            {{movie.comments.length}} bình luận
            {{else}}
            Chưa có bình luận
            {{/with}}
          </div>
        </div>


      </div>
    </div>

    <div class="flex justify-start my-2 gap-2">
      {{!-- Button add to favorite --}}
      {{#unless isFavorite}}
      <button class="p-2 bg-fuchsia-600 hover:bg-opacity-80 transition cursor-pointer text-white rounded-lg"
        onclick="addToFavorite('{{movie.slug}}')">
        <i class="fas fa-heart"></i>
        Thêm vào yêu thích
      </button>
      {{else}}
      {{!-- Remove from favorite --}}
      <button class="p-2 bg-rose-400 hover:bg-opacity-80 transition cursor-pointer text-white rounded-lg"
        onclick="removeFromFavorite('{{movie.slug}}')">
        <i class="fas fa-heart"></i>
        Xóa khỏi yêu thích
      </button>
      {{/unless}}
      {{!-- button to admin --}}
      {{#ifEquals user.role "admin"}}
      <a class="p-2 bg-fuchsia-600 hover:bg-opacity-80 transition cursor-pointer text-white rounded-lg"
        href="/admin/movies/{{movie.slug}}/edit">
        <i class="fas fa-edit"></i>
        Chỉnh sửa
      </a>
      {{/ifEquals}}
    </div>




    <h2 class="text-xl font-bold mt-4">Mô tả</h2>
    <p class="px-2" id="description">
      {{movie.description}}
    </p>
  </div>


  <div class="p-2 shadow-md rounded-md bg-base-200 my-2">
    <h2 class="text-xl font-bold">Chọn tập</h2>
    {{!-- <button class="p-2 bg-pink-500 text-white" @click=>Click me</button> --}}
    <div class="tabs">
      <template x-for="(season, index) in movie.seasons" :key="season.name">
        <div class="tab tab-lifted" :class="{'tab-active': chooseSeason == index}" x-text="season.name"
          @click="chooseSeason = index"></div>

      </template>
    </div>
    {{#ifEquals user.role "admin"}}
    {{#> modal buttonTitle="Thêm tập" icon="fa fa-plus"}}
    <form action="/episode" method="POST" id="addMovieForm"
      class="rounded-md my-2 overflow-y-scroll max-h-[75vh] grid md:grid-cols-2 gap-2">
      <div class="mb-2">
        <div class="mb-2">
          <label for="season" class="text-sm">
            Phần
          </label>
          <input type="text" id="season" class="w-full text-black bg-white border p-2 rounded-md cursor-not-allowed"
            disabled :value="movie.seasons[chooseSeason].name">
        </div>

        <label for="title" class="text-sm">
          Tên tập
        </label>
        <input type="text" name="title" id="title" class="w-full text-black border p-2 rounded-md" required>
      </div>

      <div class="mb-2">
        <label for="description" class="text-sm">
          Mô tả (optional)
        </label>
        <textarea name="description" id="description"
          class="w-full text-black border p-2 rounded-md min-h-[200px]"></textarea>
      </div>
      <div class="mb-2">
        <label for="serverFshare" class="text-sm">
          Server Fshare (optional)
        </label>
        <input type="text" name="serverFshare" id="serverFshare" class="w-full text-black border p-2 rounded-md">
      </div>
      <div class="mb-2">
        <label for="serverVimeo" class="text-sm">
          Server Vimeo (optional)
        </label>
        <input type="text" name="serverVimeo" id="serverVimeo" class="w-full text-black border p-2 rounded-md">
      </div>

      <input type="hidden" name="_csrf" value={{@root/_csrfToken}}>
      <input type="hidden" name="season" :value="movie.seasons[chooseSeason]._id">
      <div class="mb-2">
        <label for="poster" class="text-sm">
          Poster (giữ nguyên để dùng lại ảnh mặc định)
        </label>
        <div class="p-2 border bg-white rounded-md">
          <div class="image-preview-single">
            <input type="hidden" role="uploadcare-uploader" name="image" x-ref="imagePresentation" data-clearable
              data-images-only />
          </div>
        </div>
      </div>

      <button class="btn btn-primary">Tạo</button>
    </form>
    {{/modal}}
    {{/ifEquals}}
    <div class="p-2 grid grid-cols-2 md:grid-cols-4 gap-2" id="episodeSection">
      <template x-for="(episode, index) in movie.seasons[chooseSeason].episodes">
        <div class="h-40">
          <a :href="'/movies/'+movie.slug+'/'+movie.seasons[chooseSeason].slug+'/episode-'+episode.slug">
            <div class="group rounded box-border shadow-md relative overflow-hidden appear h-full">
              <figure class="h-full w-full">
                <img :src="episode.image || movie.image" data-card="image"
                  class="object-cover object-top transform transition group-hover:scale-105 h-full w-full">
              </figure>
              <div class="text-white p-1.5 card-body z-20 absolute bottom-4 md:pb-0 left-0 right-0 bg-opacity-40 h-10">
                <h3 class="line-clamp-1" data-card="title" x-text="movie.title">
                </h3>
                <p class="line-clamp-1 text-xs font-light text-opacity-60 text-white" data-card="subtitle"
                  x-text="episode.title + ' ⎯ ' + movie.englishTitle">

                </p>
              </div>
              <div
                class="absolute px-2 border-2 top-2 left-2 bg-white p-1 rounded-xl dark:text-gray-800 flex items-center gap-1">
                <i class="fas fa-film"></i>
                <span x-text="episode.title"></span>

              </div>
              <div
                class="absolute inset-0 bg-gradient-to-t from-black via-transparent opacity-60 flex items-center justify-center">
                <svg xmlns="http://www.w3.org/2000/svg"
                  class="w-1/3 opacity-0 transition-opacity group-hover:opacity-90 duration-300 z-20"
                  viewBox="0 0 20 20" fill="#fff">
                  <path fill-rule="evenodd"
                    d="M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z"
                    clip-rule="evenodd"></path>
                </svg>
              </div>
            </div>
          </a>
        </div>
      </template>
    </div>
  </div>
</div>

<script>
  const desc = document.querySelector("#description"); const fullText =
    desc.textContent; const clamped = desc.textContent.slice(0, 500) + '...';
  desc.textContent = clamped; desc.textContent += "..."; let show = false;
  desc.addEventListener("click", () => {
    show = !show; if (show) {
      desc.textContent = fullText; return;
    } desc.textContent = clamped;
  });

</script>

<div class="p-2 shadow-md rounded-md bg-base-200 my-2">
  <h2 class="text-xl mb-1">Phim lẻ mới</h2>
  {{> carousel barId="phimMoi" slidesPerView="4"}}
</div>
<div class="p-2 shadow-md rounded-md bg-base-200 my-2">
  <h2 class="text-xl mb-1">Phim bộ random</h2>
  {{> carousel barId="phimBoRandom" slidesPerView=4}}
</div>
{{/if}}

<script>
  function editFilmClickHandler(e) {
    console.log(e);

    // turn all p to input
    $("#filmEditForm").find("p").each(function () {
      $(this).replaceWith(`<input type="text" name="${$(this).attr("name")}" value="${$(this).text()}">`);
    });
  }

  function addToFavorite(slug) {
    $.ajax({
      url: "/favorites",
      type: "POST",
      data: {
        slug: slug,
        _csrf: `{{ _csrfToken }}`
      },
      success: function (data) {
        console.log('addToFavorite', data);
        if (data.success) {
          alert("Đã thêm vào yêu thích");
        } else {
          alert("Đã có trong danh sách yêu thích");
        }

        //reload 
        location.reload();
      }
    });
  }

  function removeFromFavorite(slug) {
    $.ajax({
      url: "/favorites",
      type: "DELETE",
      data: {
        slug: slug,
        _csrf: `{{ _csrfToken }}`
      },
      success: function (data) {
        console.log('removeFromFavorite', data);
        if (data.success) {
          alert("Đã xoá khỏi yêu thích");
        } else {
          alert("Đã có trong danh sách yêu thích");
        }

        //reload
        location.reload();
      }
    });
  }
</script>