<!-- Slider main container -->
<div class="swiper {{barId}} h-96 w-full">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    {{#each items}}
    <div class="swiper-slide pb-4">
      {{!-- pass data to card as object --}}
      {{> card title=title image=image slug=slug englishTitle=englishTitle }}
    </div>
    {{/each}}

  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar dark:bg-pink-400"></div>
</div>

<script>
  const swiper{{ barId }} = new Swiper('.{{barId}}', {
    // Optional parameters
    direction: "{{direction}}" || "horizontal",
    loop: true,

    autoplay: {
      delay: 5000,
    },

    // Default parameters
    slidesPerView: 2,
    spaceBetween: 10,

    // Responsive breakpoints
    breakpoints: {
      // when window width is >= 640px
      640: {
        slidesPerView: {{ slidesPerView }},
    }
  },

    // If we need pagination
    pagination: {
    el: 'swiper-pagination',
  },

    // Navigation arrows
    navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },

    // And if we need scrollbar
    scrollbar: {
    el: '.swiper-scrollbar',
  },
});

</script>