<div class="flex flex-col grid-cols-1 gap-2 p-2 shadow-md">
  <h2 class="text-xl font-bold">Bình luận</h2>

  {{#each comments}}
  <div class="flex flex-col">
    <div class="flex flex-row" data-testid="comment">
      <div class="flex-none">
        <img src="{{user.avatar}}" alt="avatar" class="w-12 h-12 rounded-full border">
      </div>
      <div class="flex-1">
        <div class="flex flex-col bg-gray-100 shadow-lg rounded-md px-4 pt-2 pb-3">
          <div class="flex flex-row justify-between items-center">
            <a href="/users/{{user.username}}"
              class="text-base font-bold text-pink-400 hover:text-pink-600">{{user.username}}</a>
            <i class="fas fa-heart text-pink-400" data-like="{{id}}"> {{likes.length}}</i>
          </div>
          <p class=" text-black" data-testid="commentContent">{{content}}</p>
        </div>
        <div class="flex flex-row px-4 justify-between my-2">
          <div class="flex">
            <span class="text-xs text-gray-600 dark:text-gray-50">{{createdAt}}</span>
          </div>
          <div class="flex justify-end gap-4">
            <div class="flex-none">
              {{#ifBelong likes @root/user.id }}
              <a onclick="onLiked(this)" data-id="{{id}}"
                class="text-xs text-pink-600 dark:text-gray-50 hover:cursor-pointer">UnLike</a>
              {{else}}
              <a onclick="onLiked(this)" data-id="{{id}}"
                class="text-xs text-gray-600 dark:text-gray-50 hover:cursor-pointer">Like</a>
              {{/ifBelong}}
            </div>

            {{#ifEquals user._id @root/user.id}}
            <div class="flex-none">
              <a onclick="onDelete(this)" data-id="{{id}}"
                class="text-xs text-gray-600 dark:text-gray-50 hover:cursor-pointer">Delete</a>
            </div>
            {{/ifEquals}}
          </div>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>
<div class="flex flex-col grid-cols-1 gap-2 p-2 shadow-md">
  {{#if user}}
  <div class="p-2 shadow-md rounded-md bg-base-200 my-2">
    <div class="p-2">
      <div class="flex flex-col">
        {{!-- from input comment for movie --}}
        <form action="/comments/{{movie.slug}}" method="POST">
          <input type="hidden" name="_csrf" value="{{@root/_csrfToken}}">
          <div class="flex justify-between gap-2">
            <div class="flex-1 w-full">
              <textarea name="content"
                class="resize w-full boder border m-1 p-2 border-pink-400 rounded shadow-md text-black"
                placeholder="Nhập bình luận của bạn..."></textarea>
            </div>
            <div class="flex-none">
              <button type="submit" class="btn btn-primary">Gửi</button>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
  {{/if}}
</div>

<script>
  function onLiked(el) {
    const id = el.dataset.id;
    const url = `/comments/${id}/like`;
    const method = 'POST';
    const data = {
      _csrf: '{{@root/_csrfToken}}',
    };
    $.ajax({
      url: url,
      method: method,
      data: data,
      success: function (res) {
        if (res.success) {
          const likeCount = res.data.likes.length;
          //get comment by id
          const commentEl = document.querySelector(`[data-id="${id}"]`);
          const likeEl = document.querySelector(`[data-like="${id}"]`);
          likeEl.innerHTML = likeCount;
          console.log(commentEl.innerHTML);
          if (commentEl.innerHTML == 'Like') {
            commentEl.innerHTML = 'UnLike';
            //change color
            commentEl.classList.remove('text-gray-600');
            commentEl.classList.add('text-pink-600');
          } else {
            commentEl.innerHTML = 'Like';
            commentEl.classList.remove('text-pink-600');
            commentEl.classList.add('text-gray-600');
          }
        }
      },
    });
  }

  function onDelete(el) {
    const id = el.dataset.id;
    const url = `/comments/${id}`;
    const method = 'DELETE';
    const data = {
      _csrf: '{{@root/_csrfToken}}',
    };
    $.ajax({
      url: url,
      method: method,
      data: data,
      success: function (res) {
        if (res.success) {
          const rootComment = document.querySelector(`[data-id="${id}"]`).parentElement.parentElement.parentElement.parentElement.parentElement;
          rootComment.remove();
        }
      }
    });
  }

</script>