<div class="flex flex-col grid-cols-1 gap-2 p-2 shadow-md">
  <h2 class="text-xl font-bold">Bình luận</h2>
  <ul class="list-inside list-none flex flex-col gap-1">
    {{#each comments}}
    <li>
      <div class="flex flex-col">
        <div class="flex flex-row" data-testid="comment">
          <div class="flex-none">
            {{#ifNotEquals user._id null}}
            <img src="{{user.avatar}}" alt="avatar" class="w-12 h-12 rounded-full border">
            {{else}}
            <img src="{{anonymousAvatar}}" alt="avatar" class="w-12 h-12 rounded-full border">
            {{/ifNotEquals}}
          </div>
          <div class="flex-1">
            <div class="flex flex-col bg-gray-100 shadow-lg rounded-md px-4 pt-2 pb-3">
              <div class="flex flex-row justify-between items-center">
                {{#ifNotEquals user._id null}}
                <a href="/admin/users/{{user.username}}"
                  class="text-base font-bold text-pink-400 hover:text-pink-600">{{user.username}}</a>
                {{else}}
                <span class="text-base font-bold text-pink-400">{{anonymousName}}</span>
                {{/ifNotEquals}}
                <i class="fas fa-heart text-pink-400" data-like="{{id}}"> {{likes.length}}</i>
              </div>
              <p class=" text-black" data-testid="commentContent">{{content}}</p>
            </div>
            <div class="flex flex-row px-4 justify-between my-2">
              <div class="flex">
                <span class="text-xs text-gray-600 dark:text-gray-50">{{createdAt}}</span>
              </div>
              <div class="flex justify-end gap-4">
                {{#ifNotEquals @root/user.id null}}
                <div class="flex-none">
                  {{#ifBelong likes @root/user.id }}
                  <a onclick="onLiked(this)" data-id="{{id}}"
                    class="text-xs text-pink-600 dark:text-gray-50 hover:cursor-pointer">UnLike</a>
                  {{else}}
                  <a onclick="onLiked(this)" data-id="{{id}}"
                    class="text-xs text-gray-600 dark:text-gray-50 hover:cursor-pointer">Like</a>
                  {{/ifBelong}}
                </div>
                {{/ifNotEquals}}

                {{#ifNotEquals @root/user.id null}}
                <div>
                  {{#ifEquals user._id @root/user.id }}
                  <div class="flex-none">
                    <a onclick="onDelete(this)" data-id="{{id}}"
                      class="text-xs text-gray-600 dark:text-gray-50 hover:cursor-pointer">Delete</a>
                  </div>
                  {{else}}
                  {{#ifEquals @root/user.role 'admin'}}
                  <div class="flex-none">
                    <a onclick="onDelete(this)" data-id="{{id}}"
                      class="text-xs text-gray-600 dark:text-gray-50 hover:cursor-pointer">Delete</a>
                  </div>
                  {{/ifEquals}}
                  {{/ifEquals}}
                </div>
                {{/ifNotEquals}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    {{/each}}
  </ul>
  {{!-- pagination --}}
  <ul class="pagination divide-x flex justify-center mt-4">
    {{!-- next page --}}
    {{#ifNotEquals currentPage pagination.length}}
    <a class="page-link" href="/movies/{{movie.slug}}?page={{inc @root/currentPage}}" data-tooltip=" Trang tiếp theo">
      <li
        class="page-item bg-rose-400 max-w-[40px] dark:bg-gray-500 p-2 text-white px-4 hover:bg-gray-700 dark:hover:bg-rose-600 {{#ifEquals @root/currentIndex @index}}disabled bg-rose-600 dark:bg-gray-800{{/ifEquals}}">
        <i class="fas fa-chevron-right"></i>
      </li>
    </a>
    {{/ifNotEquals}}

    {{#each pagination}}
    <a class="page-link" {{#ifEquals @root/currentIndex @index}} {{else}} href="{{url}}"
      data-tooltip="Đến trang {{inc @index}}" {{/ifEquals}}>
      <li
        class="page-item bg-rose-400 max-w-[40px] min-w-[40px] dark:bg-gray-500 p-2 text-white px-4 hover:bg-gray-700 dark:hover:bg-rose-600 {{#ifEquals @root/currentIndex @index}}cursor-not-allowed disabled bg-rose-600 dark:bg-gray-800{{/ifEquals}}">
        {{number}}
      </li>
    </a>
    {{/each}}

    {{!-- prev page --}}
    {{#ifNotEquals currentPage 1}}
    <a class="page-link" href="/movies/{{movie.slug}}?page={{dec @root/currentPage}}" data-tooltip=" Trang trước">
      <li
        class="page-item bg-rose-400 max-w-[40px] dark:bg-gray-500 p-2 text-white px-4 hover:bg-gray-700 dark:hover:bg-rose-600 {{#ifEquals @root/currentIndex @index}}disabled bg-rose-600 dark:bg-gray-800{{/ifEquals}}">
        <i class="fas fa-chevron-left"></i>
      </li>
    </a>
    {{/ifNotEquals}}
  </ul>
  <h2 class="text-xl font-semibold ml-2">Nhập Bình luận</h2>
  {{!-- not user --}}
  {{#ifEquals @root/user.id null}}
  <form class="flex flex-col m-4" action="/comments/anonymous/{{movie.slug}}" method="post">
    <div class="flex flex-col gap-2 rounded-sm">
      <input type="hidden" name="_csrf" value="{{@root/_csrfToken}}">
      <input type="text" name="anonymousName" class="w-full p-2 border rounded-md" placeholder="Tên người dùng"
        required>
      <textarea name="content" id="content" class="w-full h-32 p-2 border rounded-md" placeholder="Nhập bình luận"
        required></textarea>
      <button type=" submit" class="btn btn-primary">Gửi</button>
    </div>
    {{/ifEquals}}


    {{!-- comment form --}}
    {{#if user}}
    <div class="p-2 shadow-md rounded-md bg-base-200 my-2">
      <div class="p-2">
        <form action="/comments/{{movie.slug}}" method="POST">
          <div class="flex flex-col gap-2">
            <input type="hidden" name="_csrf" value="{{@root/_csrfToken}}">
            <textarea name="content" class="w-full h-32 border p-2 border-pink-400 rounded shadow-md text-black"
              placeholder="Nhập bình luận của bạn..." required></textarea>
            <button type=" submit" class="btn btn-primary">Gửi</button>
          </div>
        </form>
      </div>
    </div>
    {{/if}}
</div>

<script>
  function onLiked(el) {
    const id = el.dataset.id;
    const url = `/comments/${id}/like`;
    const method = 'POST';
    const data = {
      _csrf: '{{@root/_csrfToken}}',
    };
    $.ajax({
      url: url,
      method: method,
      data: data,
      success: function (res) {
        if (res.success) {
          const likeCount = res.data.likes.length;
          //get comment by id
          const commentEl = document.querySelector(`[data-id="${id}"]`);
          const likeEl = document.querySelector(`[data-like="${id}"]`);
          likeEl.innerHTML = likeCount;
          console.log(commentEl.innerHTML);
          if (commentEl.innerHTML == 'Like') {
            commentEl.innerHTML = 'UnLike';
            //change color
            commentEl.classList.remove('text-gray-600');
            commentEl.classList.add('text-pink-600');
          } else {
            commentEl.innerHTML = 'Like';
            commentEl.classList.remove('text-pink-600');
            commentEl.classList.add('text-gray-600');
          }
        }
      },
    });
  }

  function onDelete(el) {
    const id = el.dataset.id;
    const url = `/comments/${id}`;
    const method = 'DELETE';
    const data = {
      _csrf: '{{@root/_csrfToken}}',
    };
    $.ajax({
      url: url,
      method: method,
      data: data,
      success: function (res) {
        if (res.success) {
          const rootComment = document.querySelector(`[data-id="${id}"]`).parentElement.parentElement.parentElement.parentElement.parentElement;
          rootComment.remove();
        }
      }
    });
  }

</script>