<div class="p-2 shadow-md rounded-md bg-base-200 my-2">
  <div id="notify"></div>
  <h2 class="text-xl mb-2">
    Admin Panel
  </h2>
  {{#if data.newCat}}
    <div class="flex flex-wrap bg-lime-400 text-white">
      Đã tạo chuyên mục
      <a href="/categories/{{data.newCat.slug}}">
        {{data.newCat.title}}
      </a>
    </div>
  {{/if}}
  <div class="grid grid-cols-6">
    <div class="col-span-2">
      <h3 class="text-lg mb-2">
        Menu
      </h3>
      <ul class="divide-y divide-pink-500">
        <li class="p-2 transform hover:translate-x-1 cursor-pointer">
          Quản lý người dùng
        </li>
        <li class="p-2 transform hover:translate-x-1 cursor-pointer">
          Chuyên mục
        </li>
        <li class="p-2 transform hover:translate-x-1 cursor-pointer">
          Đăng phim
        </li>
      </ul>
    </div>
    <div class="col-span-4">
      <div class="p-2">
        {{! List all category from categories }}
        <h3 class="text-lg mb-2">
          Categories
        </h3>
        <ul class="list-inside list-none flex flex-col gap-1">
          {{#each categories}}
            <li class="p-2 border border-pink-400 rounded">
              <a href="/categories/{{this.slug}}">
                {{this.title}}
              </a>
            </li>
          {{/each}}
        </ul>
        <form class="flex flex-col gap-4" onsubmit="onCategorySubmit(event)">
          <h1 class="text-xl">
            Tạo chuyên mục
          </h1>
          <input
            class="input"
            type="text"
            placeholder="Tiêu đề"
            name="title"
            required
          />
          <input
            class="input"
            type="text"
            placeholder="Description"
            name="description"
          />
          <input
            class="input"
            type="text"
            placeholder="Slug"
            name="slug"
            required
          />
          <button class="btn btn-primary">
            Tạo
          </button>
        </form>
      </div>
    </div>
    <div class="p-2 shadow-md rounded-md bg-base-200 my-2">
      <div class="p-2">
        <form action="/movies" method="POST" class="flex flex-col gap-4">
          <h1 class="text-xl">
            Thêm phim
          </h1>
          <input
            class="input"
            type="text"
            placeholder="Tiêu đề"
            name="title"
            required
          />
          <input
            class="input"
            type="text"
            placeholder="Mô tả"
            name="description"
            required
          />
          <input
            class="input"
            type="text"
            placeholder="Năm"
            name="releaseYear"
          />
          <input
            class="input"
            type="text"
            placeholder="Slug"
            name="slug"
            required
          />
          <input
            class="input"
            type="text"
            placeholder="IMDB"
            name="imdbId"
            required
          />
          <input
            class="input"
            type="text"
            placeholder="Hình ảnh"
            name="image"
            required
          />
          <input
            class="input"
            type="text"
            placeholder="Thời lượng"
            name="time"
            required
          />
          <input
            class="input"
            type="text"
            placeholder="Trailer"
            name="trailer"
            required
          />
          <input
            class="input"
            type="text"
            placeholder="Khởi chiếu"
            name="premiere"
            required
          />
          <input
            class="input"
            type="text"
            placeholder="Đánh giá"
            name="rating"
          />
          <select class="select" name="categories[]" multiple>
            <option disabled="disabled" selected="selected">
              Chọn chuyên mục
            </option>
            {{#each categories}}
              <option value="{{this._id}}">
                {{this.title}}
              </option>
            {{/each}}
          </select>
          <button class="btn btn-primary">
            Tạo
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
  function onCategorySubmit(event) {
    event.preventDefault();

    const { description, slug, title } = event.target.elements;

    if(!description.value || !slug.value || !title.value) {
      return;
    }

    const data = {
      description: description.value,
      slug: slug.value,
      title: title.value,
    };

    // JQuery AJAX
    $.ajax({
      url: '/categories',
      method: 'POST',
      data,
      success: ({data}) => {
        console.log('tindeptrai', data);

        $("#notify").html(`
  <div class="p-2 bg-red-400 text-black rounded fadeInClass">
    Đã tạo chuyên mục
    <a href="/categories/${data.slug}">
      ${data.title}
    </a>
  </div>
  `);
      },
      error: (err) => {
        console.log(err);
      },
    });

  }
</script>
<style>
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .fadeInClass {
    animation-name: fadeIn;
    animation-duration: 1s;
  }
</style>