{{#> admin}}
<div class="p-2">
  <h3 class="text-lg mb-2">
    Movies
    {{!-- button to uncollapse all --}}
    <button class="btn btn-sm btn-primary ml-2" @click="">
      <i class="fas fa-angle-double-down"></i>
    </button>
  </h3>

  <ul class="list-inside list-none flex flex-col gap-1">
    {{#each categories}}
    <li x-data="{ show: true }">
      <div data-testid="category-item"
        class="rounded flex items-center bg-pink-100 dark:bg-gray-700 hover:bg-pink-200 dark:hover:bg-pink-500 p-2"
        @click="show = !show">
        <span class="flex-grow">
          {{this.title}}
        </span>

        {{!-- Chevron down --}}
        <i class="fas fa-chevron-down ml-2" :class="show ? 'rotate-180' : ''"></i>
      </div>


      {{!-- List all movies in category --}}
      <ul class="list-inside list-none flex flex-col gap-1" x-show="show">
        {{#each movies}}
        <li class="pl-6 flex items-center gap-2 p-2 hover:bg-pink-200 dark:hover:bg-pink-500">
          <span class="mr-2">
            {{this.title}}
          </span>

          {{!-- Edit movie --}}
          <form action="/admin/movies/{{this.id}}" method="POST">
            <input type="hidden" name="_method" value="PUT">
            <input type="hidden" name="_csrf" value="{{../../csrfToken}}">

            <button class="text-base-content hover:text-opacity-80">
              <i class="fas fa-edit"></i>
            </button>
          </form>

          {{!-- Delete movie --}}
          <form action="/admin/movies/{{this.slug}}" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <input type="hidden" name="_csrf" value="{{../../csrfToken}}">
            <button type="submit" class="text-red-500 hover:text-red-700">
              <i class="fas fa-trash-alt"></i>
            </button>
          </form>
        </li>
        {{/each}}
      </ul>

    </li>
    {{/each}}
  </ul>

  <form class="flex flex-col gap-4" onsubmit="onCategorySubmit(event)">
    <h1 class="text-xl">
      Tạo chuyên mục
    </h1>
    <input class="input" type="text" placeholder="Tiêu đề" name="title" required />
    <input class="input" type="text" placeholder="Description" name="description" />
    <input class="input" type="text" placeholder="Slug" name="slug" required />
    <button class="btn btn-primary">
      Tạo
    </button>
  </form>
</div>
<div class="p-2 shadow-md rounded-md bg-base-200 my-2">
  <div class="p-2">
    <form action="/movies" method="POST" class="flex flex-col gap-4">
      <h1 class="text-xl">
        Thêm phim
      </h1>
      <input class="input" type="text" placeholder="Tiêu đề" name="title" required />
      <input class="input" type="text" placeholder="Mô tả" name="description" required />
      <input class="input" type="text" placeholder="Năm" name="releaseYear" />
      <input class="input" type="text" placeholder="Slug" name="slug" required />
      <input class="input" type="text" placeholder="IMDB" name="imdbId" required />
      <input class="input" type="text" placeholder="Hình ảnh" name="image" required />
      <input class="input" type="text" placeholder="Thời lượng" name="time" required />
      <input class="input" type="text" placeholder="Trailer" name="trailer" required />
      <input class="input" type="text" placeholder="Khởi chiếu" name="premiere" required />
      <input class="input" type="text" placeholder="Đánh giá" name="rating" />
      <select class="select" name="categories[]" multiple>
        <option disabled="disabled" selected="selected">
          Chọn chuyên mục
        </option>
        {{#each categories}}
        <option value="{{this._id}}">
          {{this.title}}
        </option>
        {{/each}}
      </select>
      <button class="btn btn-primary">
        Tạo
      </button>
    </form>
  </div>
</div>
{{/admin}}
<script>
  function onCategorySubmit(event) {
    event.preventDefault();

    const { description, slug, title } = event.target.elements;

    if (!description.value || !slug.value || !title.value) {
      return;
    }

    const data = {
      description: description.value,
      slug: slug.value,
      title: title.value,
    };

    // JQuery AJAX
    $.ajax({
      url: '/categories',
      method: 'POST',
      data,
      success: ({ data }) => {

        $("#notify").html(`
  <div class="p-2 bg-red-400 text-black rounded fadeInClass mx-4">
    Đã tạo chuyên mục
    <a href="/categories/${data.slug}">
      ${data.title}
    </a>
  </div>
  `);
      },
      error: (err) => {
        console.log(err);
      },
    });

  }

</script>
<style>
  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .fadeInClass {
    animation-name: fadeIn;
    animation-duration: 1s;
  }
</style>