<div class="grid grid-cols-1 md:grid-cols-4 gap-2 mx-2">
  <div class="col-span-3">
    <h1 class="text-2xl font-bold">Edit Movie</h1>

    {{!-- Input to edit movie --}}

    <form action="/movies/{{movie.slug}}/edit" method="POST">
      <input type="hidden" name="_csrf" value="{{ @root/_csrfToken }}">
      <input type="hidden" name="_method" value="PUT">
      {{!-- Movie title --}}
      <div class="mb-4">
        <label for="title" class="block text-base-content text-opacity-60 text-sm font-bold mb-2">
          Title
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-black text-opacity-60 leading-tight focus:outline-none focus:shadow-outline"
          id="title" type="text" name="title" value="{{movie.title}}" />
      </div>

      {{!-- Movie description --}}
      <div class="mb-4">
        <label for="description" class="block text-base-content text-opacity-60 text-sm font-bold mb-2">
          Description
        </label>
        <textarea
          class="resize shadow appearance-none border rounded w-full py-2 px-3 text-black text-opacity-60 leading-tight focus:outline-none focus:shadow-outline"
          id="description" name="description">{{movie.description}}</textarea>
      </div>

      {{!-- Movie image --}}
      <div class="mb-4">
        <label for="image" class="block text-base-content text-opacity-60 text-sm font-bold mb-2">
          Image
        </label>

        <div class="p-2 shadow-md">
          <div class="image-preview-single">
            <img src="" alt=""
              class="w-full h-full max-h-[calc(80vh)] object-cover object-top z-[-1] inset-0 fixed opacityIncrease" />
            <input type="hidden" role="uploadcare-uploader" name="image" value="{{movie.image}}" data-clearable
              data-images-only />
          </div>
        </div>
      </div>

      {{!-- Movie trailer --}}
      <div class="mb-4">
        <label for="trailer" class="block text-base-content text-opacity-60 text-sm font-bold mb-2">
          Trailer
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-black text-opacity-60 leading-tight focus:outline-none focus:shadow-outline"
          id="trailer" type="text" name="trailer" value="{{movie.trailer}}" />
      </div>

      {{!-- Movie time --}}
      <div class="mb-4">
        <label for="time" class="block text-base-content text-opacity-60 text-sm font-bold mb-2">
          Time
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-black text-opacity-60 leading-tight focus:outline-none focus:shadow-outline"
          id="time" type="text" name="time" value="{{movie.time}}" />
      </div>

      {{!-- Movie premiere --}}
      <div class="mb-4">
        <label for="premiere" class="block text-base-content text-opacity-60 text-sm font-bold mb-2">
          Premiere
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-black text-opacity-60 leading-tight focus:outline-none focus:shadow-outline"
          id="premiere" type="text" name="premiere" value="{{movie.premiere}}" />
      </div>

      {{!-- Movie releaseyear --}}
      <div class="mb-4">
        <label for="releaseyear" class="block text-base-content text-opacity-60 text-sm font-bold mb-2">
          Release year
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-black text-opacity-60 leading-tight focus:outline-none focus:shadow-outline"
          id="releaseyear" type="text" name="releaseYear" value="{{movie.releaseYear}}" />
      </div>

      {{!-- Movie rating --}}
      <div class="mb-4">
        <label for="rating" class="block text-base-content text-opacity-60 text-sm font-bold mb-2">
          Rating
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-black text-opacity-60 leading-tight focus:outline-none focus:shadow-outline"
          id="rating" type="text" name="rating" value="{{movie.rating}}" />
      </div>

      {{!-- Movie imdbId --}}
      <div class="mb-4">
        <label for="imdbId" class="block text-base-content text-opacity-60 text-sm font-bold mb-2">
          ImdbId
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-black text-opacity-60 leading-tight focus:outline-none focus:shadow-outline"
          id="imdbId" type="text" name="imdbId" value="{{movie.imdbId}}" />
      </div>

      {{!-- Movie englishTitle --}}
      <div class="mb-4">
        <label for="englishTitle" class="block text-base-content text-opacity-60 text-sm font-bold mb-2">
          EnglishTitle
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-black text-opacity-60 leading-tight focus:outline-none focus:shadow-outline"
          id="englishTile" type="text" name="englishTitle" value="{{movie.englishTitle}}" />
      </div>

      <div class="mb-4">
        <label for="englishTitle" class="block text-base-content text-opacity-60 text-sm font-bold mb-2">
          Chọn chuyên mục
        </label>
        <select id="categorySelect" class="shadow appearance-none border rounded w-full text-black text-opacity-60 leading-tight focus:outline-none focus:shadow-outline
        " name="categories[]" multiple>
          {{#each categories}}
          <option class="p-2" value="{{this._id}}">
            {{this.title}}
          </option>
          {{/each}}
        </select>
      </div>

      <div class="mb-4">
        <button type="submit"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
          Update
        </button>
      </div>


    </form>


  </div>
  <div class="shadow-md place-self-start p-2">
    <h3 class="text-lg text-opacity-60 font-bold mb-2">Thẻ lớn</h3>

    <div class="h-96">
      {{> card image=movie.image title=movie.title englishTitle=movie.englishTitle slug=movie.slug }}
    </div>

    <h3 class="text-lg text-opacity-60 font-bold mt-4 mb-2">Thẻ nhỏ</h3>

    <div class="h-28">
      {{> card image=movie.image title=movie.title englishTitle=movie.englishTitle slug=movie.slug }}
    </div>

    {{!-- Thêm season --}}

    <h3 class="text-lg text-opacity-60 font-bold mt-4 mb-2">Thêm season</h3>
    {{log movie}}
    <ul class="divide-y">
      {{#each movie.seasons}}
      <a href="./season/{{slug}}">
        <li class="p-2 bg-gray-200 dark:bg-gray-600 dark:hover:bg-gray-500 hover:bg-gray-300">{{name}}</li>
      </a>
      {{/each}}

      <div class="mb-4">
        <label for="title" class="block text-base-content text-opacity-60 text-sm font-bold mb-2">
          Season mới
        </label>
        <form action="/season" method="POST">
          <input type="hidden" name="movie" value={{@root/movie._id}}>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-black text-opacity-60 leading-tight focus:outline-none focus:shadow-outline"
            id="title" type="text" name="name" value="" />
          <input type="hidden" name="_csrf" value="{{@root/_csrfToken}}">
          <button class="btn btn-primary mt-2">Tạo season</button>
        </form>
      </div>
    </ul>
  </div>
</div>

<script src="https://ucarecdn.com/libs/widget/3.x/uploadcare.full.min.js" charset="utf-8"></script>
<script>
  UPLOADCARE_PUBLIC_KEY = "533d4b8f6a11de77ba81";
  function installWidgetPreviewSingle(widget, img) {
    widget.onChange(function (file) {
      img.css('visibility', 'hidden')
      img.attr('src', '')
      if (file) {
        file.done(function (fileInfo) {
          console.log(fileInfo)
          var size = '' + img.width() * 2 + 'x' + img.height() * 2;
          var previewUrl = fileInfo.cdnUrl;

          img.attr('src', previewUrl)
          img.css('visibility', 'visible')
        })
      }
    })
  }

  $('.image-preview-single').each(function () {
    installWidgetPreviewSingle(uploadcare.SingleWidget($(this).children('input')), $(this).children('img'))
  })

</script>

<style>
  .opacityIncrease {
    /* animation keep last state */
    animation: opacityIncrease 2s linear forwards;
  }

  @keyframes opacityIncrease {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 0.6;
    }
  }
</style>

<script>
  const categoriesId = "{{movie.categories}}".split(',');

  $("#categorySelect").val(categoriesId)

</script>