{{#> admin}}
<div class="p-1">
    <h3 class="text-lg mb-2 flex items-center">
      Admins
      {{#> modal buttonTitle="Thêm quản trị viên" icon="fa-plus"}}
        <form class="flex flex-col gap-4" action = "/admin/createAdmin" method="POST">
          <input type="text" placeholder="Tên đăng nhập" class="input input-bordered p-1" name="username" required/>
          <input type="text" placeholder="Họ và tên" class="input input-bordered p-1" name="fullname" required/>
          <input type="email" placeholder="Email" class="input input-bordered p-1" name="email" required/>
          <input type="password" placeholder="Mật khẩu" class="input input-bordered p-1" name="password" required />
          <input type="password" placeholder="Nhập lại mật khẩu" class="input input-bordered p-1" name="repassword" required/>
          <input type="hidden" value="{{@root/_csrfToken}}" name="_csrf">
          <button class="btn btn-purple">Tạo</button>
        </form>
          {{/modal}}
      </h3>
    <ul class="list-inside list-none flex flex-col gap-1">
    {{#each admins}}

    <li class= "pl-6 h-20 flex items-center justify-between hover:bg-pink-200 dark:hover:bg-pink-500 p-2 w-full shadow-md rounded transform transition hover:scale-105 gap-1">
      <a href="/admin/users/{{this.username}}" class="p-2 w-full" data-tooltip="Xem thông tin {{this.username}}">
        <span class = "flex-grow">{{this.username}} </span>
      </a>
    </li>
    {{/each}}
  </ul>
</div>
{{!-- pagination --}}
{{#if pagination}}
<ul class="pagination divide-x flex justify-center mt-4">
  {{!-- next page --}}
  {{#ifNotEquals currentPage pagination.length}}
  <a class="page-link" href="/admin/users?page={{inc @root/currentPage}}" data-tooltip=" Trang tiếp theo">
    <li
      class="page-item bg-rose-400 max-w-[40px] dark:bg-gray-500 p-2 text-white px-4 hover:bg-gray-700 dark:hover:bg-rose-600 {{#ifEquals @root/currentIndex @index}}disabled bg-rose-600 dark:bg-gray-800{{/ifEquals}}">
      <i class="fas fa-chevron-right"></i>
    </li>
  </a>
  {{/ifNotEquals}}

  {{#each pagination}}
  <a class="page-link" {{#ifEquals @root/currentIndex @index}} {{else}} href="{{url}}"
    data-tooltip="Đến trang {{inc @index}}" {{/ifEquals}}>
    <li
      class="page-item bg-rose-400 max-w-[40px] min-w-[40px] dark:bg-gray-500 p-2 text-white px-4 hover:bg-gray-700 dark:hover:bg-rose-600 {{#ifEquals @root/currentIndex @index}}cursor-not-allowed disabled bg-rose-600 dark:bg-gray-800{{/ifEquals}}">
      {{number}}
    </li>
  </a>
  {{/each}}
</ul>
{{/if}}
{{/admin}}