{{#> admin}}
<h3 class="text-lg mb-2 flex items-center">
  Movies
  {{!-- button to uncollapse all --}}
  {{!-- <button class="btn btn-sm btn-primary ml-2" @click="">
    <i class="fas fa-angle-double-down"></i>
  </button> --}}

  {{!-- button to create movie --}}
  {{#> modal buttonTitle="Thêm phim" icon="fa-plus"}}
  <div class="mb-2" x-data="">
    <label for="title" class="text-sm">
      Get metadata from ephimmoi.net, phimgii.net:
    </label>
    <input type="text" name="title" id="title" class="w-full text-black border p-2 rounded-md"
      onchange="fetchApi(this.value)">
    <div id="metaApiLoading" class="hidden flex justify-between p-2">
      {{!-- spinner --}}

      <div class="spinner"></div>
    </div>
  </div>
  <form action="/movies" method="POST" id="addMovieForm" class="grid md:grid-cols-2 gap-2">
    <div class="mb-2">
      <label for="title" class="text-sm">
        Tên phim
      </label>
      <input type="text" name="title" id="title" class="w-full text-black border p-2 rounded-md" required>
    </div>
    <div class="mb-2">
      <label for="englishTitle" class="text-sm">
        Tên tiếng Anh
      </label>
      <input type="text" name="englishTitle" id="englishTitle" class="w-full text-black border p-2 rounded-md" required>
    </div>
    <div class="mb-2">
      <label for="description" class="text-sm">
        Mô tả (optional)
      </label>
      <textarea name="description" id="description"
        class="w-full text-black border p-2 rounded-md min-h-[200px]"></textarea>
    </div>
    <div class="mb-2">
      <label for="poster" class="text-sm">
        Poster
      </label>
      <div class="p-2 border bg-white rounded-md">
        <div class="image-preview-single">
          <img src="" alt="">
          <input type="hidden" role="uploadcare-uploader" name="image" x-ref="imagePresentation" value="{{movie.image}}"
            data-clearable data-images-only />
        </div>
      </div>
    </div>

    </div>
    <div class="mb-2">
      <label for="trailer" class="text-sm">
        Trailer (optional)
      </label>
      <input type="text" name="trailer" id="trailer" class="w-full text-black border p-2 rounded-md">
    </div>
    <div class="mb-2">
      <label for="releaseYear" class="text-sm">
        Năm phát hành
      </label>
      <input type="text" name="releaseYear" id="releaseYear" class="w-full text-black border p-2 rounded-md" required>
    </div>
    {{!-- imDb --}}
    <div class="mb-2">
      <label for="imDb" class="text-sm">
        imdbId (optional)
      </label>
      <input type="text" name="imdbId" id="imDb" class="w-full text-black border p-2 rounded-md">
    </div>
    {{!-- time --}}
    <div class="mb-2">
      <label for="time" class="text-sm">
        Thời lượng (optional)
      </label>
      <input type="text" name="time" id="time" class="w-full text-black border p-2 rounded-md">
    </div>
    {{!-- Slug --}}
    <div class="mb-2">
      <label for="slug" class="text-sm">
        Slug
      </label>
      <input type="text" name="slug" id="slug" class="w-full text-black border p-2 rounded-md" required>
    </div>

    {{!-- Ngày phát hành: premiere --}}
    <div class="mb-2">
      <label for="premiere" class="text-sm">
        Ngày phát hành (optional)
      </label>
      <input type="date" name="premiere" id="premiere" class="w-full text-black border p-2 rounded-md">
    </div>

    <select class="select col-span-2 w-full border h-72" name="categories[]" multiple>
      <option class="p-2" disabled="disabled" selected="selected">
        Chọn chuyên mục (giữ Ctrl để chọn nhiều)
      </option>
      {{#each categories}}
      <option class="p-2 hover:bg-gray-100 text-black" value="{{this._id}}">
        {{this.title}}
      </option>
      {{/each}}
    </select>

    <input name="_csrf" type="hidden" value="{{@root._csrfToken}}">
    <button class="btn btn-primary">
      Tạo
    </button>
  </form>
  {{/modal}}
</h3>

{{#if error}}
<div class="rounded bg-red-200 p-2 dark:bg-red-400 my-2 flex items-center gap-2">
  {{!-- error icon --}}
  <i class="fas fa-exclamation-triangle text-red-500"></i>
  {{!-- error message --}}
  {{error}}
</div {{/if}} <ul class="list-inside list-none flex flex-col gap-1">
{{#each movies}}
<li class="pl-6 flex items-center justify-between hover:bg-pink-200 dark:hover:bg-pink-500">
  <a href="/admin/movies/{{this.slug}}/edit" class="p-2 w-full" data-tooltip="Chỉnh sửa phim {{this.title}}">
    <span class="mr-2">
      {{this.title}}
    </span>
  </a>

  {{!-- Delete movie --}}
  <form action="/movies/{{this.slug}}/delete" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_csrf" value="{{@root/_csrfToken}}">
    <button type="submit"
      class="text-red-500 hover:text-red-700 bg-white shadow-md rounded transform transition hover:scale-110 p-1 flex gap-1 items-center">
      <i class="fas fa-trash-alt"></i> Delete
    </button>
  </form>
</li>
{{/each}}
</ul>


{{!-- Pagination --}}
{{#if pagination}}
<ul class="pagination divide-x flex justify-center mt-4">
  {{!-- next page --}}
  {{#ifNotEquals currentPage pagination.length}}
  <a class="page-link" href="/admin/movies?page={{inc @root/currentPage}}" data-tooltip=" Trang tiếp theo">
    <li
      class="page-item bg-rose-400 max-w-[40px] dark:bg-gray-500 p-2 text-white px-4 hover:bg-gray-700 dark:hover:bg-rose-600 {{#ifEquals @root/currentIndex @index}}disabled bg-rose-600 dark:bg-gray-800{{/ifEquals}}">
      <i class="fas fa-chevron-right"></i>
    </li>
  </a>
  {{/ifNotEquals}}

  {{#each pagination}}
  <a class="page-link" {{#ifEquals @root/currentIndex @index}} {{else}} href="{{url}}"
    data-tooltip="Đến trang {{inc @index}}" {{/ifEquals}}>
    <li
      class="page-item bg-rose-400 max-w-[40px] min-w-[40px] dark:bg-gray-500 p-2 text-white px-4 hover:bg-gray-700 dark:hover:bg-rose-600 {{#ifEquals @root/currentIndex @index}}cursor-not-allowed disabled bg-rose-600 dark:bg-gray-800{{/ifEquals}}">
      {{number}}
    </li>
  </a>
  {{/each}}
</ul>
{{/if}}

{{!-- <form class="" onsubmit="onCategorySubmit(event)">
  <h1 class="text-xl">
    Tạo chuyên mục
  </h1>
  <input class="input" type="text" placeholder="Tiêu đề" name="title" required />
  <input class="input" type="text" placeholder="Description" name="description" />
  <input class="input" type="text" placeholder="Slug" name="slug" required />
  <button class="btn btn-primary">
    Tạo
  </button>
</form> --}}
{{/admin}}

<script>
  function onCategorySubmit(event) {
    event.preventDefault();

    const { description, slug, title } = event.target.elements;

    if (!description.value || !slug.value || !title.value) {
      return;
    }

    const data = {
      description: description.value,
      slug: slug.value,
      title: title.value,
    };

    // JQuery AJAX
    $.ajax({
      url: '/categories',
      method: 'POST',
      data,
      success: ({ data }) => {

        $("#notify").html(`
  <div class="p-2 bg-red-400 text-black rounded fadeInClass mx-4">
    Đã tạo chuyên mục
    <a href="/categories/${data.slug}">
      ${data.title}
    </a>
  </div>
  `);
      },
      error: (err) => {
        console.log(err);
      },
    });

  }

  function fetchApi(url) {
    // set loading for 
    $("#metaApiLoading").show();

    $.ajax({
      url: 'https://crawler.trungtin.codes/get-data',
      type: 'GET',
      data: {
        url: url
      },
      success: function ({ data, success }) {
        if (!success) {
          console.error('Fetch data from crawler failed');
          return;
        }

        console.log(data);
        const $form = $('#addMovieForm');

        $form.find('input[name="title"]').val(data.title);
        $form.find('input[name="englishTitle"]').val(data.englishTitle);
        $form.find('input[name="slug"]').val(data.slug);
        $form.find('input[name="premiere"]').val(data.premiere);
        $form.find('input[name="image"]').val(data.image);
        $form.find('textarea[name="description"]').val(data.description);
        $form.find('input[name="trailer"]').val(data.trailer);
        $form.find('input[name="duration"]').val(data.duration);
        $form.find('input[name="country"]').val(data.country);
        $form.find('input[name="director"]').val(data.director);
        $form.find('input[name="actor"]').val(data.actor);
        $form.find('input[name="imdb"]').val(data.imdb);
        $form.find('input[name="category"]').val(data.category);
        $form.find('input[name="releaseYear"]').val(data.year);


        //image-preview-single
        $('.image-preview-single').children('img').attr('src', data.image);

        $("#metaApiLoading").hide();


      }
    });
  }

</script>